<h2>Cart</h2>
<table class='cart table table-striped table-bordered table-condensed'>
  <thead>
    <tr>
      <th width='50px'></th>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Total</th>
      <th class='text-center' width="100px"></th>
    </tr>
  </thead>
  <tbody>
    {{#each items}}
      <tr>
        <td width='50px'><img {{ bind-attr src=product.avatar }} /></td>
        <td>{{#link-to "product" product }}{{ product.name }}{{/link-to}}</td>
        <td>{{ id }}</td>
        <td width="100px">{{input type=number value=quantity class='col-xs-2 input input-sm form-control' }}</td>
        <td width="100px">{{ total }}</td>
        <td class='text-center' width="100px">
          <button {{action "removeItemFromCart" this}} class='btn btn-sm btn-danger'>
            Remove
          </button>
        </td>
      </tr>
    {{/each}}
  </tbody>
  <tr>
    <td colspan=3></td>
    <td class='text-right'>Total:</td>
    <td>{{ cents }}</td>
    <td><button {{ action checkout }} class='btn btn-success'>Checkout</button></td>
  </tr>
</table>
    