<table>
  {{# if items }}
    <tr>
      <td><h2>Product</h2></td>
      <td><h2>Quantity</h2></td>
      <td><h2>Price Per Unit</h2></td>
      <td><h2>Total Item Price</h2></td>
      <td><h2>Subtotal</h2></td>
    </tr>
  {{/ if}}
  {{# each items }}
    <tr>
      <td>{{ this.product.name }}</td>
      <td>{{ this.quantity }}</td>
      <td><button type="button" class="btn btn-default btn-xsm" {{ action "more" this }}>+</span></button></td>
      <td><button type="button" class="btn btn-default btn-xsm" {{ action "less" this }}>-</span></button></td>
      <td>{{ to_dollars this.product.price}}</td>
      <td>{{ to_dollars this.subtotal }}<td/>
    </tr>
  {{ else }}
    this cart is empty
  {{/ each }}
  {{count}}
  <br>
</table>

<strong>Subtotal:</strong> ${{ to_dollars total }}

Look at this cart, this cart is amazing!