<div class='input-display'>
  {{name}}<br>
  {{email}}<br>
  {{credit_card_number}}<br>
  {{cvv}} {{expiration}}<br>
  {{address}}<br>
  {{zip}}<br>
</div>

<table>
  <!-- App.Purchase.FIXTURES to inspect what has been saved -->
  <!-- valueBinding='model.fieldname' -->
  <tr><td>Name:</td> <td>{{ input type="text" valueBinding='model.name' }}</td>
  <td>Email:</td> <td>{{ input type="text" valueBinding='model.email' }}</td></tr><tr/ class='gap'>
  <tr><td>Credit Card Number:</td> <td>{{ input type="text" valueBinding='model.credit_card_number' }}</td>
  <td>CVV:</td> <td>{{ input type="number" valueBinding='model.cvv' }}</td></tr>
  <tr><td>Expiration Date:</td> <td>{{ input type="date" valueBinding='model.expiration' }}</td></tr><tr/ class='gap'>
  <tr><td>Address:</td> <td>{{ input type="text" valueBinding='model.address' }}</td>
  <td>Zipcode:</td> <td>{{ input type="text" valueBinding='model.zip' }}</td></tr>
</table>

<button type="button" class="btn btn-default btn-xsm" {{ action "purchase" this }}>Purchase</button>