<h1>
  {{ name }}
  <small class='muted'>(${{to_dollars price}})</small>
</h1>

<div class='row'>
  <div class='col-lg-8'>
    <img {{ bind-attr src=image }} class='thumbnail col-lg-12'></img>
  </div>
  <div class='col-lg-4'>
    {{description}}
  </div>
  <button href="#addToCart" {{ action "addToCart" this }} class='btn btn-success'>Add to Cart</button>
</div>